body{
    font-family: 'Poppins', sans-serif !important;
}
main{
    padding: 100px 15% 10px 15% ;
}
.card{
    width: 500px !important;
    min-width: 300px !important;
    border-radius: 15px !important;
    margin-bottom: 20px;
    background-color: rgba(233, 233, 239, 0.1) !important;
}
[data-bs-theme=dark] {
--bs-body-bg: #111727 !important;
}
.card-frame-img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    background-color: rgba(184, 184, 188, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-frame-img img{
    width: auto;
    height: 100%;
}
.container-bd{
    justify-content: center;
}

.container-scroll{
     width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.container-techno{
    display: inline-flex;
    gap: 30px;
    width: max-content;
    animation: slide 30s linear infinite;
    cursor: grab;
}
.container-techno:active{
    cursor: grabbing;
    animation: none;
    }
.container-img{
    display: flex;
    width: 60px ;
    height: 60px ; 
    background-color: rgba(255, 249, 249, 0.07);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px black;
    align-items: center;
    justify-content: center;
    transition: transform 0.09s ease;
}
.container-dp-techno{
    width: 100px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* Agar tidak menyusut di flex */
    
   
}
.container-work{
    display: grid;
}

.work-style{
    background-color: rgb(255, 255, 255, 0.08);
}

.title-font{
    font-size: 20px !important;
}

.company-font{
    font-size: 15px;
}

.font-exp{
    font-size: 15px !important;
}

.font-card{
    font-size: 14px !important;
}
    
.Techno{
    width: 80%;
}
.cont-1{
    flex-wrap: wrap;
    width: 63%;
}
.cont-1 h1{
    font-size: 2cm;
}
.main-hero{
    display: flex;
    width: 100% ;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-img{
    width: 40px;
    /* box-shadow: 1px 1px 15px rgb(35, 35, 94);
    border-radius: 10px; */
    gap: 90px;
    transition: transform 0.5s ease;
   
}

.cont-1 > span > h1{
    font-weight: bold;
    font-size: 60px;
}

.main-img:hover{
    transform: scale(1.05);
}
.container-img:hover{
    transform: scale(1.05) ;
}
.footitem{
    display: flex;
    justify-content: center;
}
.hello-img{
    width: 60px;
    height: 60px;
    margin-top: 20px;
}
.sub-title{
    font-weight: bold;
    font-size: 25px;
}
.techno_font{
    font-weight: lighter;
    font-size: 8px;
}
.profil-content{
    font-size: 17.5px;
}
.icn-experience{
    background-color: rgba(126, 123, 123, 0.3);
    padding: 0px 15px 3px 15px;
    border-radius: 10px;
    font-size: 15px;
}
@keyframes slide {
     0%   { transform: translateX(0);  }
    100% { transform: translateX(-50%) ;  }
    
}
