body{
    font-family: 'Poppins', sans-serif !important;
}
main{
    padding: 100px 15% 10px 15% ;
}
.card{
    width: 500px !important;
    min-width: 300px !important;
    border-radius: 15px !important;
    margin-bottom: 20px;
}
[data-bs-theme=dark] {
--bs-body-bg: #111727 !important;
}
.card-frame-img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    background-color: rgb(214, 214, 244, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-frame-img img{
    width: auto;
    height: 100%;
}
.container-bd{
    justify-content: center;
}

.container-scroll{
     width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.container-techno{
    /* position: relative; */
    display: inline-flex;
    gap: 30px;
    /* overflow: hidden; */
    /* float: left; */
    width: max-content;
    /* padding-left: 100%; */
    animation: slide 30s linear infinite;
    cursor: grab;
    /* will-change: transform ; */
    /* position: absolute; */
}

.container-techno:active{
    cursor: grabbing;
    animation: none;
    }
.container-img{
    display: flex;
    width: 50px ;
    height: 50px ; 
    background-color: rgba(255, 249, 249, 0.07);
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    align-items: center;
    justify-content: center;
}
.container-dp-techno{
    /* justify-items: center; */
    /* animation: slide 10s linear infinite;
    position: relative; */
    width: 100px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* Agar tidak menyusut di flex */
}
.container-work{
    display: grid;
    margin-bottom: 100px;
}
    
.Techno{
    width: 80%;
}
.cont-1{
    flex-wrap: wrap;
    width: 63%;
}
.cont-1 h1{
    font-size: 2cm;
}
.main-hero{
    display: flex;
    width: 100% ;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-img{
    width: 300px;
    height: 300px;
    box-shadow: 1px 1px 15px rgb(35, 35, 94);
    border-radius: 10px;
    gap: 90px;
}
.main-img:hover{
    transform: scale(1.05);
}
.container-dp-techno :hover{
    transform: scale(1.1) ;
}
.footitem{
    display: flex;
    justify-content: center;
}
.hello-img{
    width: 60px;
    height: 60px;
    margin-top: 20px;
}
.sub-h1{
    font-weight: bold;
    font-size: 20px;
}
.icn-experience{
    background-color: rgba(0, 0, 0, 0.247);
    padding: 0px 15px 3px 15px;
    border-radius: 10px;
}
@keyframes slide {
     0%   { transform: translateX(0);  }
    100% { transform: translateX(-50%) ;  }
    
}
/* .dragging {
      animation: none;
      cursor: grabbing;
} */