<footer>
    <hr>
    <div class="footitem" style="display: grid; justify-content: center; margin: 25px 0 25px 0">
        <span style="margin-bottom: 15px;">
            <h10 class="footer-text">© 2025 Designed and coded with ❤️ by Galang Novi Anggara</h10>
        </span>
        <div style="display: flex; justify-content: center; gap: 10px;">
            <a href="https://github.com/galangnovi" style="color: inherit;">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/galang-novi-anggara/" style="color: inherit;">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
    </div>
</footer>